

.title{

    font-weight: bold;
}

.desc{
    color:gray;
    text-decoration: none;
}

.btn-outline-primary {
    color: orange !important;  
    border-color: orange !important; 
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color:orange !important;
    border-color: orange !important;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem orange !important;
}

.btn-primary{
    
    border-color: orange !important;
    background-color: orange !important;
}