@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

h1 {
    background-color: burlywood;
    font-size: larger;
    padding: 10px;
    font-family: 'Sedgwick Ave', cursive;
  
}

